<div id="detail-modal" class="modal">
  <div class="modal-overlay"></div>
  <div class="modal-container">
    <div class="title-container">
      <h1> {{ character.name }} </h1>
      <button class="modal-close" (click)="close()">&#10005;</button>
    </div>
    <p>Status: {{ character.status }}</p>
    <p>Species: {{ character.species || 'N/A' }}</p>
    <p>Type: {{ character.type || 'N/A'}}</p>
    <p>Gender: {{ character.gender || 'N/A' }}</p>
    <p>Origin: {{ character.origin.name || 'N/A' }}</p>
    <p>Location: {{ character.location.name || 'N/A' }}</p>

    <h2>Episodes</h2>
    <ul>
      <li *ngFor="let el of episodesList">
        {{ el.episode }} - {{ el.name }}
      </li>
    </ul>

    <div class="pagination-container" *ngIf="maxPages > 1">
      <div class="arrow-container">
          <span *ngIf="page != 1" class="material-symbols-rounded" (click)="previousPage()" title="Previous page">
              arrow_back
          </span>
      </div>
      <div>
          <span>{{ page }} of {{ maxPages }}</span>
      </div>
      <div class="arrow-container">
          <span *ngIf="page != maxPages" class="material-symbols-rounded" (click)="nextPage()" title="Next page">
              arrow_forward
          </span>
      </div>
  </div>
  </div>
</div>