<div class="search-container">
    <input type="text" id="searchbox" placeholder="Search by name" [(ngModel)]="nameSearched">
    <button (click)="searchCharacter()">Search</button>
</div>

<div class="title-container">
    <h1>Characters list</h1>
    <p><a routerLink="/favorites">Go to favorites</a></p>
</div>

<div *ngFor="let el of charList" class="char-container">
    <div class="img-container">
        <img [src]="el.image" class="char-img">
    </div>
    <div class="name-container">
        <h2 class="pointer" (click)="openDetails(el.id)">{{ el.name }}</h2>
    </div>
    <div class="icons-container">
        <span class="material-symbols-rounded" (click)="openDetails(el.id)" title="Open details">
            manage_search
        </span>
        <span *ngIf="!isFavorite(el.id)" class="material-symbols-rounded" (click)="addToFavorites(el.id)" title="Add to favorites">
            star
        </span>
        <span *ngIf="isFavorite(el.id)" class="material-symbols-rounded favorite-star" (click)="removeFromFavorites(el.id)" title="Remove from favorites">
            star
        </span>
    </div>
</div>

<div class="pagination-container">
    <div class="arrow-container">
        <span *ngIf="page != 1" class="material-symbols-rounded" (click)="previousPage()" title="Previous page">
            arrow_back
        </span>
    </div>
    <div>
        <span>{{ page }} of {{ maxPages }}</span>
    </div>
    <div class="arrow-container">
        <span *ngIf="page != maxPages" class="material-symbols-rounded" (click)="nextPage()" title="Next page">
            arrow_forward
        </span>
    </div>
</div>

<detail-modal [charId]="selectedId"></detail-modal>