:root{
    --theme-color-text : #00b5cc;
    --theme-color-border : #00353e;
    --theme-color-shadow : #b2df28;
}

html {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(5, 7, 22);
}

.material-symbols-rounded {
    cursor: pointer;
}

button {
    font-family: 'Roboto', sans-serif;
    
    // line-height: 40px;
    // box-sizing: border-box;
    // height: 40px;
}

.pointer {
    cursor: pointer;
}