:root{
    --theme-color-text : #00b5cc;
    --theme-color-border : #00353e;
    --theme-color-shadow : #b2df28;
}

html {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(5, 7, 22);
}
body {
    margin: 0;
}

.material-symbols-rounded {
    cursor: pointer;
}

input {
    font-family: "Roboto", sans-serif;
    height: 30px;
    width: 150px;
    padding: 0 10px;
    margin: auto 0.8rem;
}

button {
    font-family: 'Roboto', sans-serif;
    height: 34px;
    border-radius: 10px;
    cursor : pointer;
    background-color: #00b5cc;
    color: white;
    font-weight: 500;
    margin: auto 0.8rem;
    padding: 1px 10px;
}

.pointer {
    cursor: pointer;
}

@media only screen and (min-width: 375px) {
    input {
        height: 35px;
        width: 160px;
        margin: auto 0.9rem;
    }
    
    button {
        font-family: 'Roboto', sans-serif;
        height: 40px;
        margin: auto 0.9rem;
        padding: 1px 12px;
    }
}

@media only screen and (min-width: 768px) {
    input {
        height: 40px;
        width: 180px;
        margin: auto 1rem;
    }
    
    button {
        font-family: 'Roboto', sans-serif;
        height: 45px;
        margin: auto 1rem;
        padding: 1px 15px;
    }
}